body, *{
    font-family:Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight:bold;
}

h1{ font-size:24px; }

h2{ font-size:20px; }

.header{
    position:relative;
    height:40px;
    color:#fff;
    background-color:#444;
    text-align:center;
    line-height:40px;
}

.header button{
    cursor:pointer;
    position:absolute;
    z-index:100;
    display:inline-block;
    height:30px;
    background-color:#ddd;    
    border:none;
    color:#666;
    font-weight:bold;
    padding:0 10px;
    -webkit-border-radius:5px;
    top:5px;
}

.header button.left{
    left:10px;
}

.header button.right{
    right:10px;
}

ul.sorting{
    display:table;
    width:100%;
    background-color:#aaa;
}

.sorting li{
    display:table-cell;
    width:33%;
    text-align:center;
    line-height:30px;    
}

.sorting li a{
    display:block;
    margin:0 1px 1px 0;
    background-color:#ddd;
    text-decoration:none;
    color:#666;
}

.sorting li a:active{
    background-color:#6699ff;
    color:#fff;
}

.sorting li a.selected{
    background-color:#333;
    color:#fff;
}

/* Task List Items */

.task_list .item_description{
    white-space:nowrap;
    text-overflow:ellipsis;
    position:absolute;
    text-indent:10px;
    z-index:1;
    margin-top:-5px;
}

.task_list .detail{
    position:relative;
    top:10px;
    left:10px;
    font-size:10px;
    color:#666;
    display:none;
}

.sortby_position .position, .sortby_tag_id .tag, .sortby_created_at .created_at, .sortby_completed_at .completed_at{
    display:inline-block;
}

.task_list button
{
    text-align:center;
    padding:0;
}

.task_list button.delete{
    display:none;
}

.task_list button.complete{
    display:inline-block;
}

.editing .task_list button.delete{
    display:inline-block;
}

.editing .task_list button.complete{
    display:none;
}

.editing #edit_list{
    background-color:yellow;
    color:#000;
}

/* Sortable lists */

.sortable_list li{
    min-height:45px;
	position:relative;
	border-bottom:1px dotted #9999ff;
	line-height:45px;
}

.dragging{
	background-color:yellow !important;
	position:relative;
	opacity:0.75;
	z-index:100;
}

.dragger{
    position:absolute;
    right:0;
	top:0;
	background-color:#aaa;
	height:45px;
	width:45px;
	display:none;
	z-index:1;
	text-align:center;
	line-height:45px;
	color:#ccc;
	text-shadow:0 0 3px #666;
	font-size:30px;
}

.dragging .dragger{
	background-color:#000;
	z-index:100001 !important;
}		

.editing .dragger{
    display:block;
}

/* Form */

#edit_item_form{
    background-color:#eee;
    padding-bottom:10px;
}

#edit_item_form textarea{
    display:block;
    width:100%;
}

#edit_item_form fieldset{
    margin:10px;   
}

fieldset.form_submit_set{
    text-align:right;
}