body, *{
    font-family:Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight:bold;
}

h1{ font-size:24px; }

h2{ font-size:20px; }

.header{
    position:relative;
    height:40px;
    color:#fff;
    background-color:#444;
    text-align:center;
    line-height:40px;
}

.header button{
    cursor:pointer;
    position:absolute;
    z-index:100;
    display:inline-block;
    height:30px;
    background-color:#ddd;    
    border:none;
    color:#666;
    font-weight:bold;
    padding:0 10px;
    -webkit-border-radius:5px;
    top:5px;
}

.header button.left{
    left:10px;
}

.header button.right{
    right:10px;
}

ul.sorting{
    display:table;
    width:100%;
    background-color:#aaa;
}

.sorting li{
    display:table-cell;
    width:33%;
    text-align:center;
    line-height:30px;    
}

.sorting li a{
    display:block;
    margin:0 1px 1px 0;
    background-color:#ddd;
    text-decoration:none;
    color:#666;
}

.sorting li a:active{
    background-color:#666;
    color:#fff;
}